<% content_for :title do %>Locations<% end %>
<div id="container">
	<section class="map-section row">
		<div id="map" class="map col-sm-12"></div>
	</section>
</div>
<style type="text/css">
	
	.map {
		height: 500px;
	}
</style>
<script type="text/javascript">
	$(function(){
		L.mapbox.accessToken = 'pk.eyJ1IjoiZGltYWthNzcxIiwiYSI6Ik52UWFOUmMifQ.tNZhyraV5VvXrupSLnhRgg';
		var map = L.mapbox.map('map', 'dimaka771.m50gndm7');
		map.dragging.disable();
		map.scrollWheelZoom.disable();
	});

</script>