<h1>My Images</h1>
<%= form_for(Image.new, html: { multipart: true, class: "dropzone"}) do |f|  %>
<div class="fallback">
	<%= f.file_field :gallery %><br>
	<%= f.submit "Upload Images in the Gallery" %>
</div>
<% end %>

<div class="images">
	<%= render "images" %>
</div>