<div id="main-content">
	<div class="row">
		<div class="content col-sm-12">
			
			<div class="col-sm-3">TEST</div>
			<div class="col-sm-3">TEST</div>
			<div class="col-sm-3">TEST</div>
			<div class="col-sm-3">TEST</div>

		</div>	

	</div>

</div>