<section class="description">
	<header>
		<h3>Great bags from Anjela. Best in Khmelnitsyi.</h3>
		<p>
		PAJ (Premium Accessories by Anjela) is a leather goods company that features handmade products that are produced exclusively in Khmelnitskyi. We believe that timeless design is always modern and that true beauty gets better with age. However, all our products are made to facilitate, complement and improve contemporary lifestyles.</p>
		<p>Finally, bags that you want to show off!</p>
	</header>
</section>