<section class="highlights row">
    <ul>
        <li class="col-sm-4">
            <h4>Store</h4>
            <p>PAP (Premium Accessories by Pyk) is a leather goods company that features handmade products that are produced exclusively in Sweden.
            We believe that timeless design is always modern and that true beauty gets better with age.</p>
        </li>
        <li class="col-sm-4">
            <h4>Locations</h4>
            <p>PAJ products are distributed and sold all over Khmelnitskyi, from New York to Seoul, as well as in out on online store. You can use our store locator to find the store closest to you. If you can not find a store close to you, feel free to contact us, or order directly from our online store.</p>
        </li>
        <li class="col-sm-4">
            <h4>News</h4>
            <p>As a small company we are constantly on the road, visiting manufacturers, resellers and trade shows. Trying to travel light, one thing we never leave behind is our phones. On Instagram you can follow us on our journeys and get a glimpse of what our everyday life looks like.</p>
        </li>
    </ul>
</section>