<div class="snap-drawers mobile hide">
    <div class="snap-drawer snap-drawer-right">
        <ul>
            <li class="details-link"><a href="details#"><%= link_to 'PRODUCTS',page_path('product_catalog') %></a></li>
            <li class="about-link"><a href="about-us#">ABOUT US</a></li>
            <li class="contact-us-link"><%= link_to 'CONTACT US',page_path('locations') %></li>
            <li class="faq-link"><a href="http://support.eero.com" target="_blank">FAQs</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        var snapper = new Snap({
            element: document.getElementById('container'),
            dragger: null,
            disable: 'none',
            addBodyClasses: true,
            hyperextensible: true,
            resistance: 0.5,
            flickThreshold: 50,
            transitionSpeed: 0.3,
            easing: 'ease',
            maxPosition: 266,
            minPosition: -266,
            tapToClose: false,
            touchToDrag: false,
            slideIntent: 40,
            minDragDistance: 5
      });

        $('#handler').on( 'click' , function(){
            if( snapper.state( ).state === 'right' ){
                snapper.close( );
                $('.snap-drawers').addClass('hide');
                $('body').removeClass('show-drawer');
            } else {
                snapper.open('right');
                $('.snap-drawers').removeClass('hide');
                $('body').addClass('show-drawer');
            }
        });
    });
</script>