<div class="snap-drawers mobile hide">
    <div class="snap-drawer snap-drawer-left ">
        <ul>
            <li class="details-link"><a href="details#">DETAILS</a></li>
            <li class="about-link"><a href="about-us#">ABOUT US</a></li>
            <li class="contact-us-link"><a href="developers#">CONTUCT US</a></li>
            <li class="faq-link"><a href="http://support.eero.com" target="_blank">FAQs</a></li>
        </ul>
    </div>
    <div class="snap-drawer snap-drawer-right">
    </div>
</div>