
<nav class="global-nav" style="left: 0px;">
    <h1 class="logo dark"><a href="/#">Welcome to Anjelas Boutique!</a></h1>
    <ul>
        <li class="dropdown nav-link nav-link-details">
        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories
        		<span class="caret"></span>
        	</a>
        	<ul class="dropdown-menu" role="menu">
        		<li><a href="#">Action</a></li>
        		<li><a href="#">Another action</a></li>
        		<li><a href="#">Something else here</a></li>
        	</ul>
        </li>
        <li class="nav-link nav-link-about-us"><a href="">News</a></li>
        <li class="nav-link nav-link-contact-us"><a href="">Contact Us</a></li>
        <li class="preorder-button"><a href="#" target="" data-ct-checkout="">Pre-Order</a></li>
    </ul>
    <div id="handler" class="mobile handler closed">
        <i class="fa fa-2x fa-navicon white"></i>
    </div>
</nav>


