<nav class="global-nav" style="left: 0px;">
    <h1 class="logo dark">
        <a href="/#">Welcome to Anjelas Boutique!</a>
    </h1>
    <div id="handler" class="mobile handler closed">
        <a href="#" class="mnav toggle-nav trigger-overlay"><span>Menu</span></a>
    </div>
</nav>