<section id="hero" class="hero">
    <header class="heroText">
     <h2>Find the bag of your dream</h2>
     <!-- <a href="#" class="play-video-circle" onclick="mixpanel.track('Clicked Play Video')">
        <div class="play-video">
            <header>Play<br>Video</header>
            <figure><i class="fa fa-play"></i></figure>
        </div>
    </a> -->
</header>
<div id="hero-slider" class="backslider">
    <div class="bs-controls" style="display: block;">
        <a class="bs-timer" href="#bs" style="opacity: 1; background-position: -20px 0px;"></a>
    </div><div class="bs-overlay"></div>
    <ul class="bs-slides">
    <li class="slider-img slide1" style="width: 100%; height: 100%; display: block; left: 0px; top: 0px;"></li>
        <li class="slider-img slide2" style="display: block; width: 100%; height: 100%; opacity: 0.523254388672; left: 0px; top: 0px; z-index: 20;"></li>
        <li class="slider-img slide3" style="display: none; width: 100%; height: 100%; opacity: 1; left: 0px; top: 0px;"></li>
        <li class="slider-img slide4" style="display: none; width: 100%; height: 100%; opacity: 1; left: 0px; top: 0px;"></li>
    </ul>
</div>
</section>