<section id="hero" class="hero">
    <header class="heroText">
     <h2>Find the bag of your dream</h2>
     <!-- <a href="#" class="play-video-circle" onclick="mixpanel.track('Clicked Play Video')">
        <div class="play-video">
            <header>Play<br>Video</header>
            <figure><i class="fa fa-play"></i></figure>
        </div>
    </a> -->
</header>
<div id="hero-slider" class="backslider">
    <div class="bs-overlay"></div>
    <div id="slides" class="bs-slides">

        <img src="<%= asset_path( 'main_container/slider/slide1.jpg' ) %>" alt="">
        <img src="<%= asset_path( 'main_container/slider/slide2.jpg' ) %>" alt="">
        <img src="<%= asset_path( 'main_container/slider/slide3.jpg' ) %>" alt="">
        <img src="<%= asset_path( 'main_container/slider/slide4.jpg' ) %>" alt="">

    </div>
</div>
</section>

<script type="text/javascript">
    $(function(){
        $("#slides").slidesjs({
            width: 940,
            height: 490,
            active: false,
            effect: {
                fade: {
                    speed: 1000
                }
            },
            play: {
                active: false,
                auto: true,
                interval: 6000,
                swap: true,
                effect: "fade",
                crossfade: true
            }
        });
    });

</script>